::-webkit-scrollbar
  width 12px
  height 12px

::-webkit-scrollbar-thumb
  border 6px solid #ddd
  border-radius 6px

::-webkit-scrollbar-track
  border 6px solid white
  border-radius 6px

body, html
  margin 0
  padding 0

*
  box-sizing border-box
