.info
  display flex
  flex-direction column
  margin 1em 1.5em
  font-size 1.1em
  line-height 1.5
  +above(800px)
    max-width 740px
    margin 2em auto

  .block
    margin-bottom 1em

  .image
    display none


+above(600px)
  .info
    .block
      display flex
      &:nth-child(2) .image
        order 1

    .text
      flex 1

    .image
      display flex
      align-items center
      justify-content center
      margin 1.5em 1em 0 0
      flex-basis 150px
      img
        max-width 10em
        max-height 11em

+above(1050px)
  .info
    flex-direction row
    max-width 1000px

    .block
      flex-direction column
      flex 1

    .text
      order 1
      margin 0 2em 1em 2em
      h1
        text-align center

    .image
      margin 0
      align-items flex-end



.contact
  display flex
  justify-content center
  align-items center
  margin 1.5em 1.5em 4.5em 1.5em
  height 100px
  perspective 1000px
  +below(700px)
    margin 0 1.5em 1em 1.5em
  .contact-methods
    display flex
    img
      display block
      height 100px
      +below(450px) // good for 3 buttons
        height 85px
    a
      margin 0 2em
      animation-name: flipIn;
      animation-duration: 130ms;
      transition transform .1s
      +below(450px) // good for 3 buttons
        margin 0 1em
      &:hover
        transform scale(.95)
  .contact-btn
    background-color orange
    user-select none
    cursor pointer
    border-radius 3px
    box-shadow 0px 1px 1px rgba(0,0,0,0.2)
    color white
    font-size 1.5em
    letter-spacing 5px
    padding 15px
    text-align center
    width 600px
    &:hover
      background-color #4caf50
      transition all .06s
    &:active
      background-color darken(#4caf50,10%)


@keyframes flipIn
  from
    transform: rotateX(90deg)
  74%
    transform: rotateX(-18deg)
  to
    transform: rotateX(0)
