// "People"
.title
  color #b8b8b8
  font-size 2.2em
  padding 1.5rem 2rem .5rem 2.5rem
  margin 0


// People images
.people
  padding 1.5em 2em 1.5em 2em
  display flex
  overflow-x auto
  overflow-y hidden

  .person
    background-size cover
    border-radius 200px
    box-shadow 2px 2px 4px rgba(0,0,0,.16)
    cursor pointer
    height 5em
    width 8em
    min-width 8em // this is important
    margin 0 10px
    position relative

    opacity 0
    animation-name slideUp
    animation-duration 1s
    animation-fill-mode forwards

    &:hover p
      display block
      opacity 1
      bottom -2em

  .person p
    background #f2f2f2
    transition all .2s
    background white
    border-radius 3px
    box-shadow 0px 1px 1px rgba(0,0,0,0.2)
    font-size 1.1em
    opacity 0
    float left
    left 50%
    padding 7px 9px
    position absolute
    bottom -3em
    transform translateX(-50%)
    white-space nowrap
    z-index 1

@keyframes slideUp
  from
    transform: translateY(0)
  0%
    transform: translateY(150px)
    opacity 1
  to
    transform: translateY(0)
    opacity 1


// Chatbot
.chatbot
  padding 3rem
  display flex
  align-items flex-start
  flex-direction column
  font-size 1.2em
  margin 0 auto
  margin-bottom 5em
  max-width 60em
  min-height

  .box
    background-color white
    padding .8rem 1rem
    box-shadow 0px 1px 1px rgba(0,0,0,0.2)
    border-radius 3px
    display inline
    font-family Merriweather, serif

    opacity 0
    animation-name slideRight
    animation-duration 500ms
    animation-fill-mode forwards

    img
      display block
      max-width 600px
      max-height 400px

@keyframes slideRight
  from
    transform: translateX(-150px)
  to
    transform: translateX(0)
    opacity 1

// Reply
.reply
  padding 3em
  display flex
  align-items center
  justify-content center
  .box
    @extend .chatbot .box
    background-color lighten(orange,5%)
    color white
    cursor pointer
    margin 0 1em
    opacity 0
    user-select none

    &:hover
      background-color #4caf50
      transition all .06s
    &:active
      background-color darken(#4caf50,10%)

    animation-name slideUp
    animation-duration 500ms
    animation-fill-mode forwards
