@keyframes slideUp
  from
    transform: translateY(0)
  0%
    transform: translateY(150px)
    opacity 1
  to
    transform: translateY(0)
    opacity 1

@keyframes fadeInUp
  from
    transform: translateY(150px)
  to
    transform: translateX(0)
    opacity 1

@keyframes fadeInRight
  from
    transform: translateX(-150px)
  to
    transform: translateX(0)
    opacity 1
